@model WebTH.Models.EF.Product
@{
    ViewBag.Title = "Detail";
}

<style>
    .user_star_rating {
        display: inline-block;
        margin-left: 18px;
    }

        .user_star_rating li {
            display: inline-block;
            margin-right: -3px;
            cursor: pointer;
        }

            .user_star_rating li i {
                color: #f5c136;
                font-size: 18px;
            }
</style>
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-title-page-3.jpg)">
    <h2 class="tit6 t-center"> Chi tiết sản phẩm </h2>
</section>

<section>
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
        <div class="container">
            <a href="/" class="txt27"> Trang chủ </a>
            <span class="txt29 m-l-10 m-r-10">/</span>
            <a href="/products" class="txt27"> Cửa hàng </a>
            <span class="txt29 m-l-10 m-r-10">/</span>
            <span class="txt29"> @Model.Title </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
                    <div class="blo4 p-b-63">
                        @if (Model.ProductImage != null && Model.ProductImage.Any())
                        {
                            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                                @foreach (var item in Model.ProductImage)
                                {
                                    <img src="@Model.ProductImage.FirstOrDefault(x=>x.IsDefault).Image" alt="IMG-BLOG" />

                                }
                            </div>

                        }

                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16" ">
                                <a href="#" class="tit9">@Model.Title</a>
                            </h4>
                            <p>@Model.Description</p>
                            <p>Lượt xem: <b>@Model.ViewCount</b></p>
                            @if (Model.PriceSale > 0)
                            {

                                <h3 class="tit13 p-b-16">
                                    <span style="color: red;">@WebTH.Common.Common.FormatNumber(Model.PriceSale, 0)</span>
                                    <span style="color: #5e5a59; font-size: 16px;"><strike>@WebTH.Common.Common.FormatNumber(Model.Price, 0)</strike></span>
                                </h3>
                            }
                            else
                            {
                                <h3 class="tit13 p-b-16">
                                    <span style="color: red;">@WebTH.Common.Common.FormatNumber(Model.Price, 0)</span>
                                </h3>
                            }
                            <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center p-b-16">
                                <span>Số lượng</span>
                                <div class="quantity_selector">
                                    <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    <span id="quantity_value">1</span>
                                    <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                                <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@Model.Id">Thêm vào giỏ</a></div>

                            </div>
                            <div class="product attribute overview">
                                <div class="value" itemprop="description">
                                    <ul class="pdp-attribute pdp-attribute-mobile">
                                        <li>
                                            <label>Thương hiệu</label><span>TH True</span>
                                        </li>
                                        <li>
                                            <label>Xuất xứ thương hiệu</label><span>Việt Nam</span>
                                        </li>
                                        <li>
                                            <label>Nơi sản xuất</label><span>Việt Nam</span>
                                        </li>
                                        <li>
                                            <label>Thành phần</label><span>
                                                Làm từ những thành phần tự nhiên trong thiên nhiên đảm bảo an toàn vệ sinh
                                            </span>
                                        </li>
                                        <li>
                                            <label>Hạn sử dụng</label><span>
                                                240 ngày kể từ ngày sản
                                                xuất
                                            </span>
                                        </li>
                                        <li>
                                            <label>Hướng dẫn sử dụng</label><span>
                                                Hạn sử kĩ trên bao bì
                                                Sau khi mở hộp, bảo quản lạnh ở 4 độ C – 10 độ C và sử
                                                dụng hết trong vòng 24 giờ
                                            </span>
                                        </li>
                                        <li>
                                            <label>Hướng dẫn bảo quản</label><span>
                                                Bảo quản nơi khô ráo,
                                                thoáng mát, tránh ánh nắng, mùi mạnh và các loại hóa
                                                chất.
                                            </span>
                                        </li>
                                        <li>
                                            <label>Quy cách đóng gói</label><span>
                                                Đóng gói cẩn thận
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="leave-comment p-t-10">
                        <h4 class="txt33 p-b-14">Thông tin chi tiết</h4>
                        <p>
                            @Html.Raw(Model.Detail)
                        </p>

                    </div>

                    <hr />

                    <div class="leave-comment p-t-10">
                        @*<h4 class="txt33 p-b-14">Thông tin chi tiết</h4>*@
                        @Html.Action("_Review", "Review", new { productId = Model.Id })


                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
                    <div class="search-sidebar2 size12 bo2 pos-relative">
                        <input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search"
                               placeholder="Search" />
                        <button class="btn-search-sidebar2 flex-c-m fa fa-search     trans-0-4"></button>
                    </div>

                    <div class="popular">
                        @Html.Action("_Load_Review", "Review", new { productId = Model.Id })

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="related-products">
    <h3 class="tit3 t-center">Sản phẩm cùng danh mục</h3>
    <div class="row">
        @foreach (var relatedProduct in ViewBag.RelatedProducts as List<WebTH.Models.EF.Product>)
        {
            var strImage = "";
            var img = relatedProduct.ProductImage.FirstOrDefault(x => x.IsDefault);
            if (img != null)
            {
                strImage = img.Image;
            }
            @*<div class="col-md-4 col-lg-3">
                <div class="product-item">
                    <div class="product-image">
                        <img src="@strImage" alt="@relatedProduct.Title" />
                    </div>
                    <h4 class="product-title">
                        <a href="@Url.Action("Detail", "Products", new { id = relatedProduct.Id })">@relatedProduct.Title</a>
                    </h4>
                    <p class="product-price">
                        @if (relatedProduct.PriceSale > 0)
                        {
                            <span class="price-sale">@WebTH.Common.Common.FormatNumber(relatedProduct.PriceSale, 0)</span>
                            <span class="price-original"><strike>@WebTH.Common.Common.FormatNumber(relatedProduct.Price, 0)</strike></span>
                        }
                        else
                        {
                            <span class="price">@WebTH.Common.Common.FormatNumber(relatedProduct.Price, 0)</span>
                        }
                    </p>
                </div>
            </div>*@

            <style>
                .item-gallery:hover .favorite {
                    visibility: visible;
                    opacity: 1;
                }

                .favorite {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: #b9b4c7;
                    width: 24px;
                    height: 24px;
                    visibility: hidden;
                    opacity: 0;
                }

                .favorite_left {
                    left: 15px;
                }

                .favorite.active {
                    visibility: visible;
                    opacity: 1;
                }


                    .favorite.active::after {
                        font-family: 'FontAwesome';
                        content: '\f004';
                        color: #fe4c50;
                    }

                .favorite::after {
                    font-family: 'FontAwesome';
                    content: '\f08a';
                }

                .favorite:hover::after {
                    color: #fe4c50;
                }
            </style>
            var wishlist = relatedProduct.Wishlists.FirstOrDefault(x => x.UserName == User.Identity.Name);
            var isWishlist = false;
            if (wishlist != null)
            {
                isWishlist = true;
            }
            <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom juice pos-relative @relatedProduct.ProductCategory.Alias">


                <a href="/chi-tiet/@relatedProduct.Alias-p@(relatedProduct.Id)">
                    <img src="@strImage" alt="@relatedProduct.Title" />
                    <a href="/chi-tiet/@relatedProduct.Alias-p@(relatedProduct.Id)">
                        <div class="bgTH flex-sb-m shop-blo1">
                            <h1 class="txt37 m-b-0">@relatedProduct.Title</h1>
                            @if (relatedProduct.PriceSale > 0)
                            {
                                <p class="txt36">@WebTH.Common.Common.FormatNumber(relatedProduct.PriceSale, 0)<span style="color: #d92f24"><strike>@WebTH.Common.Common.FormatNumber(relatedProduct.Price, 0)</strike></span></p>

                            }
                            else
                            {
                                <p class="txt36">@WebTH.Common.Common.FormatNumber(relatedProduct.Price, 0)</p>

                            }
                        </div>
                    </a>
                    <div class="bgTH cart-blo1">
                        <a href="" class="btnAddToCart" data-id="@relatedProduct.Id"><i class="fa fa-cart-plus fs-24 c-white" aria-hidden="true"></i></a>
                    </div>


                </a>
                @if (isWishlist == true)
                {
                    <div data-id="@relatedProduct.Id" class="favorite favorite_left active"></div>

                }
                else
                {
                    <div data-id="@relatedProduct.Id" class="favorite favorite_left"></div>

                }
            </div>
        }
    </div>
</section>



@section scripts {
    <script type="text/javascript" src="~/Content/assets/js/shop-detail.js"></script>

}

